/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
header {
    background: #111;
    padding: 15px 0;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 24px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.menu a.active,
.menu a:hover {
    color: #ccc;
}

/* PRICING */
.pricing {
    width: 90%;
    margin: 50px auto;
    text-align: center;
}

.pricing h2 {
    font-size: 34px;
    margin-bottom: 10px;
}

.pricing .sub {
    margin-bottom: 30px;
    font-size: 16px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.card.destacado {
    border: 2px solid #ff5757;
}

.price {
    font-size: 26px;
    margin: 10px 0;
}

.card ul {
    margin: 15px 0;
    list-style: none;
}

.card li {
    margin-bottom: 8px;
}

button {
    padding: 10px 20px;
    background: #ff5757;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #e54747;
}
