/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
header {
    background: #111;
    padding: 15px 0;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 24px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.menu .active,
.menu a:hover {
    color: #ccc;
}

/* PRICING */
.pricing {
    width: 90%;
    margin: 3rem auto;
    text-align: center;
}

.intro {
    margin: 10px 0 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.card {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.card .price {
    font-size: 30px;
    margin: 10px 0;
    color: #ff5757;
}

.card ul {
    list-style: none;
    margin: 15px 0;
}

.card ul li {
    margin: 5px 0;
}

.card button {
    background: #ff5757;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background: #e54747;
}

/* Destacado */
.destacado {
    border: 2px solid #ff5757;
    background: #ffe5e5;
}
